body {
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    padding: 0 10%;
}

.hero-container {
    background-color: #1F2937;
}

.hero-header {
    display: flex;
    justify-content: space-between;
}

.hero-logo {
    font-size: 24px;
    color: #F9FAF8;
    margin: auto 0;
}

.hero-nav, .hero-secondary-text{
    color: #E5E7EB;
    font-size: 18px;
    padding: 10px 0;
}

.hero-nav ul {
    list-style-type: none;
    display: flex;
    gap: 15px;
}

.hero-content {
    display: flex;
    padding: 80px 0;
    gap: 30px;
}

.hero-content-left {
    flex: 1;
}

.hero-content-right {
    flex: 1;
    background-color: grey;
    text-align: center;
    display: flex;
}

.hero-image {
    margin: auto;
    color: #E5E7EB;
}

.hero-main-text {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
}

.hero-btn {
    background-color: #3882f6;
    font-size: 18px;
    color: #F9FAF8;
    padding: 8px 30px;
    border: none;
    border-radius: 4px;

}

.info-header {
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
    text-align: center;
    padding: 30px 0;
}

.info-cards{
    display: flex;
    padding: 0 12% 50px 12%;
    gap: 24px;
}

.info-image{
    aspect-ratio: 1/1;
    width: 100%;
    border-radius: 1em;
    border-color: #3882f6;
    border-width: 3px;
    border-style: solid;
}

.info-subtext {
    color: #1F2937;
    font-size: 18px;
    text-align: justify;
}